<div>
    <h3> A Model Peer-to-Peer Retail Application Database </h3>
    <h3> Micah Simmerman </h3>
    <h3> CSPB 3287 Semester Project </h3>
</div>

Introduction

## Logistics

The following will load the SQL extension and connect to the `patent_citations` database using your MySQL credentials.

In [75]:
import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")

database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

User    : [jasi9001]
Database: [[mysql://jasi9001...@applied-sql.cs.colorado.edu:3306/jasi9001]

In [76]:
%reload_ext sql
%matplotlib inline

## Start user-admin management tier

In [137]:
%%sql
DROP TABLE IF EXISTS admin_type

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [159]:
%%sql
# 
CREATE TABLE user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(128),
    password NVARCHAR(128),  # formerly text
    first_name VARCHAR(15),
    last_name VARCHAR(30),
    email NVARCHAR(255),
    telephone INT,
    created_at TIMESTAMP,
    modified_at TIMESTAMP
);

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
(MySQLdb._exceptions.OperationalError) (1050, "Table 'user' already exists")
[SQL: #
CREATE TABLE user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(128),
    password NVARCHAR(128),  # formerly text
    first_name VARCHAR(15),
    last_name VARCHAR(30),
    email NVARCHAR(255),
    telephone INT,
    created_at TIMESTAMP,
    modified_at TIMESTAMP
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [148]:
%%sql
DROP TABLE IF EXISTS user

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [163]:
%%sql
# admin user isA admin_type.
CREATE TABLE adminuser (
    id INT PRIMARY KEY,
    username VARCHAR(128),
    password NVARCHAR(128), 
    first_name VARCHAR(15),
    last_name VARCHAR(30),
    type_id INT,  # Foreign key references admin_type.id
    # omit last_login
    created_at TIMESTAMP,
    modified_at TIMESTAMP,
    
    CONSTRAINT USER_ADMINUSER FOREIGN KEY (id) REFERENCES user(id)
);
#

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.
0 rows affected.

[]

In [155]:
%%sql
DROP TABLE IF EXISTS adminuser

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [138]:
%%sql
# admin_type supports multiple adminuser(s).
CREATE TABLE admin_type (
    id INT PRIMARY KEY,
    admin_type VARCHAR(5),  # change length.
    permissions VARCHAR(5),  # change length.
    created_at TIMESTAMP,
    modified_at TIMESTAMP
);

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [146]:
%%sql
# 
CREATE TABLE user_address (
    id INT PRIMARY KEY,
    user_id INT FOREIGN KEY REFERENCES user(id),  #  
    address_line1 VARCHAR(100),
    address_line2 VARCHAR(100),
    city VARCHAR(40),
    postal_code VARCHAR(15),
    country VARCHAR(56),
    telephone VARCHAR(15),
    mobile VARCHAR(15)
);

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
(MySQLdb._exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FOREIGN KEY REFERENCES user(id),  # \n    address_line1 VARCHAR(100),\n    address' at line 4")
[SQL: #
CREATE TABLE user_address (
    id INT PRIMARY KEY,
    user_id INT FOREIGN KEY REFERENCES user(id),  #
    address_line1 VARCHAR(100),
    address_line2 VARCHAR(100),
    city VARCHAR(40),
    postal_code VARCHAR(15),
    country VARCHAR(56),
    telephone VARCHAR(15),
    mobile VARCHAR(15)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [143]:
%%sql
DROP TABLE IF EXISTS user_address

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [80]:
%%sql
# 
CREATE TABLE user_address (
    id INT PRIMARY KEY,
    user_id INT FOREIGN KEY (user_id) REFERENCES user(id),  # 
    address_line1 VARCHAR(100),
    address_line2 VARCHAR(100),
    city VARCHAR(40),
    postal_code VARCHAR(15),
    country VARCHAR(56),
    telephone VARCHAR(15),
    mobile VARCHAR(15)
);

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [81]:
%%sql
# 
# CREATE TABLE user_payment (
#     id INT,
#     user_id INT,  # 
#     payment_type VARCHAR(40),  # best guess of what length should be.
#     provider VARCHAR(40),  # best guess of what length should be.
#     account_no VARCHAR(17),  # best guess of what length should be.
#     expiry DATE
# );
DROP TABLE IF EXISTS user_payment

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

## End user-admin management tier

## Begin product management tier

In [112]:
%%sql
# The product table integrates with cart_item and order_item tables and supports the shopping process.
# CREATE TABLE product (
#     id INT,
#     name VARCHAR(50),
#     description TINYTEXT,
#     sku VARCHAR(8),
#     category_id INT,
#     inventory_id INT,
#     price DECIMAL(13,2),
#     discount_id INT,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP,
#     deleted_at TIMESTAMP
# );
DROP TABLE IF EXISTS product

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [113]:
%%sql
# 
# CREATE TABLE product_category (
#     id INT,
#     category_name VARCHAR(50),
#     description TINYTEXT,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP,
#     deleted_at TIMESTAMP
# );
DROP TABLE IF EXISTS product_category

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [106]:
%%sql
# 
# CREATE TABLE product_inventory (
#     id INT,
#     quantity INT,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP,
#     deleted_at TIMESTAMP
# );
DROP TABLE IF EXISTS product_inventory

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [111]:
%%sql
# 
# CREATE TABLE discount (
#     id INT,
#     discount_name VARCHAR(50),
#     discount_desc TINYTEXT,
#     discount_percent DECIMAL(5,2),
#     active BOOLEAN,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP,
#     deleted_at TIMESTAMP
# );
DROP TABLE IF EXISTS discount

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

## End product management tier

## Begin 'shopping session' tier

In [115]:
%%sql
# cart_item contains the items of a user's shopping session.
# CREATE TABLE cart_item (
#     id INT,
#     session_id INT,
#     product_id INT,
#     quantity INT,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP
# );
DROP TABLE IF EXISTS discount

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [119]:
%%sql
# 
# CREATE TABLE shopping_session (
#     id INT,
#     user_id INT,
#     total DECIMAL(13,2),
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP
# );
DROP TABLE IF EXISTS shopping_session

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

## End 'shopping session' tier

## Begin order management tier

In [121]:
%%sql
# 
# CREATE TABLE order_items (
#     id INT,
#     order_id INT,
#     product_id INT,
#     quantity INT,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP
# );
DROP TABLE IF EXISTS order_items

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [125]:
%%sql
# 
# CREATE TABLE order_details (
#     id INT,
#     user_id INT,
#     total DECIMAL(13,2),
#     payment_id INT,
#     product_id INT,
#     created_at TIMESTAMP,
#     modified_at TIMESTAMP
# );
DROP TABLE IF EXISTS order_details

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [127]:
%%sql
# 
# CREATE TABLE payment_details (
#     id INT,
#     order_id INT,
#     amount DECIMAL(13,2),  # payment amount
#     provider VARCHAR(40),  # AKA "payment service provider": e.g., 'Stripe','PayPal','Authorize.net' 
#     status VARCHAR(15),  # paid, processed, declined, etc.
#     created_at TIMESTAMP,  # insert trigger
#     modified_at TIMESTAMP  # modify trigger
# );
DROP TABLE IF EXISTS payment_details

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.
0 rows affected.

[]

## End order management tier