<div>
    <h3> A Model Peer-to-Peer Retail Application Database </h3>
    <h3> Micah Simmerman </h3>
    <h3> CSPB 3287 Semester Project </h3>
</div>

Introduction

## Logistics

The following will load the SQL extension and connect to the `patent_citations` database using your MySQL credentials.

In [1]:
import os
import configparser
from sqlalchemy import create_engine, select
import sqlalchemy.sql


mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")

database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url 
eng = create_engine(db_url)
con = eng.connect()

User    : [jasi9001]
Database: [[mysql://jasi9001...@applied-sql.cs.colorado.edu:3306/jasi9001]

In [2]:
%reload_ext sql
%matplotlib inline
%sql SELECT version()

1 rows affected.

[('8.0.27',)]

## User-admin management tier

In [10]:
%%sql
drop table if exists user;

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [13]:
%%sql
# User table is the central table in the user-admin management section.
CREATE TABLE user (
    user_id INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(30) UNIQUE,
    password NVARCHAR(30),
    first_name VARCHAR(30),
    last_name VARCHAR(30),
    telephone VARCHAR(15),
    email VARCHAR(300) UNIQUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    modified_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

In [14]:
user_data_1 = [["user_01","user_passwd_01","Joe","Murr", "(102)479-4505", "user_01_@email.com"],
               ["user_02","user_passwd_02","Brice","Toven", "(202)484-0535", "user_02_@email.com"],
               ["user_03","user_passwd_03","Jen","Jackson", "(502)474-7505", "user_03_@email.com"],
               ["user_04","user_passwd_04","Tammy","Smith", "(702)579-0585", "user_04_@email.com"],
               ["user_05","user_passwd_05","Melanie ","Baldwin", "(702)579-0585", "user_05_@email.com"],
               ["admin_06","admin_passwd_06","Rene ","Pratt", "(702)579-0585", "admin_06_@email.com"],
               ["admin_07","admin_passwd_07","Malik ","Coleman", "(702)579-0585", "admin_07_@email.com"],
               ["admin_08","admin_passwd_08","Sheldon ","Wolf", "(102)479-4505", "admin_08_@email.com"],
               ["admin_09","admin_passwd_09","Ramiro","Blackwell", "(402)455-4599", "admin_09_@email.com"],
               
               # The next two inserts should fail due to UNIQUE unsername and email constraints, respectively.
               ["user_01","test_password_01","Duplicate","Username", "(102)479-4505", "un_test_email@email.com"],
               ["poser_08","test_password_08","Duplicate","Email", "(102)479-4505", "user_01_@email.com"]
              ]

In [15]:
insert_users = """
INSERT INTO 
    user (username, password, first_name, last_name, telephone, email)
VALUES
    ("%s","%s","%s","%s", "%s", "%s");
"""
count = 1
for user in user_data_1:
    try:
        res = con.execute(insert_users, user[0], user[1], user[2], user[3], user[4], user[5])
        print("Insert:", user[2], user[3], "was successful.")
    except:
        print("Insert:", user[2], user[3], "has FAILED.")
    count+=1

Insert for Joe Murr was successful.
Insert for Brice Toven was successful.
Insert for Jen Jackson was successful.
Insert for Tammy Smith was successful.
Insert for Melanie  Baldwin was successful.
Insert for Rene  Pratt was successful.
Insert for Malik  Coleman was successful.
Insert for Sheldon  Wolf was successful.
Insert for Ramiro Blackwell was successful.
Insert of Duplicate Username has FAILED.
Insert of Duplicate Email has FAILED.

In [16]:
%%sql
SELECT * FROM user;

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
9 rows affected.

[(1, "'user_01'", "'user_passwd_01'", "'Joe'", "'Murr'", "'(102)479-4505'", "'user_01_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (2, "'user_02'", "'user_passwd_02'", "'Brice'", "'Toven'", "'(202)484-0535'", "'user_02_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (3, "'user_03'", "'user_passwd_03'", "'Jen'", "'Jackson'", "'(502)474-7505'", "'user_03_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (4, "'user_04'", "'user_passwd_04'", "'Tammy'", "'Smith'", "'(702)579-0585'", "'user_04_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (5, "'user_05'", "'user_passwd_05'", "'Melanie '", "'Baldwin'", "'(702)579-0585'", "'user_05_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (6, "'admin_06'", "'admin_passwd_06'", "'Rene '", "'Pratt'", "'(702)579-0585'", "'admin_06_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (7, "'admin_07'", "'admin_passwd_07'", "'Malik '", "'Coleman'", "'(702)579-0585'", "'admin_07_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (8, "'admin_08'", "'admin_passwd_08'", "'Sheldon '", "'Wolf'", "'(102)479-4505'", "'admin_08_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24)),
 (9, "'admin_09'", "'admin_passwd_09'", "'Ramiro'", "'Blackwell'", "'(402)455-4599'", "'admin_09_@email.com'", datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 24))]

### The update trigger was placed on the 'modified_at' column at the time of the table's creation.

In [17]:
%%sql
# Change Brice Toven's email to make sure the update trigger is working properly.
UPDATE user
SET
    email = 'brice_toven_05@gmail.com'
WHERE
    user_id = 3;
    
SELECT * FROM user WHERE user_id = 3;

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
1 rows affected.
1 rows affected.

[(3, "'user_03'", "'user_passwd_03'", "'Jen'", "'Jackson'", "'(502)474-7505'", 'brice_toven_05@gmail.com', datetime.datetime(2023, 4, 23, 9, 20, 24), datetime.datetime(2023, 4, 23, 9, 20, 37))]

# LOGICAL BREAK

Because the 'adminuser' table depends on the 'user' table, it is best to work on this table only after you have set up the 'user' table the way you want it.

Rene Pratt, Malik Coleman, Sheldon Wolf, and Ramiro Blackwell each have different roles within the eccommerce website. 

    -Rene is a Business Administrator for company X who sells items on the retail website. 
    -Malik is a requisitioner at Company X, he makes sure that inventory stays in stock.
    -Sheldon works in our IT department and sometimes he needs to fix glitches in the company software
    -Ramiro works in the warehouse, he needs to check on stock inventory and existing orders from time to time.
    
We want the same 'created_at' and 'modified_at' timestamp columns as before. Note that admin_type describes the user's business role throughout the system, while 'permissions' describe their ability to manipulate certain sections of the database.

In [75]:
%%sql
drop table if exists adminuser;

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.

[]

In [76]:
%%sql
# The admin_user table consumed the admin_type table, it presents a much more normalized form.
CREATE TABLE adminuser (
    admin_id INT PRIMARY KEY,
    admin_type VARCHAR(30),  # BusinessAdmin / Requisitioner / IT / Warehouse
    permissions VARCHAR(30),  # '01_admin' / '02_purchaser' / '03_IT' / '04_warehouse'
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    modified_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    CONSTRAINT ADMINUSER_isA_USER FOREIGN KEY (admin_id) REFERENCES user(user_id)
);
#

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
0 rows affected.
0 rows affected.

[]

In [77]:
admin_data = [[6, 'BusinessAdmin', '01_admin'],
          [7, 'Requisitioner', '02_purchaser'],
          [8, 'IT', '03_IT'],
          [9, 'Warehouse', '04_warehouse']]

In [78]:
insert_admins = """
INSERT INTO 
    adminuser (admin_id, admin_type, permissions)
VALUES
    ("%s","%s","%s");
"""

count = 1
for admin in admin_data:
    # res = con.execute(insert_admins, admin[0], admin[1], admin[2])
    try:
        res = con.execute(insert_admins, admin[0], admin[1], admin[2])
        print("Insert for admin id:", admin[0], "was successful.")
    except:
        print("Insert for admin id:", admin[0], "has FAILED.")
    count+=1

Insert for admin id: 6 was successful.
Insert for admin id: 7 was successful.
Insert for admin id: 8 was successful.
Insert for admin id: 9 was successful.

In [79]:
%%sql
# Once again, we check that the 'created_at' and 'modified_at' triggers are working.
UPDATE adminuser
SET
    admin_type = 'BusinessAdmin'  # Rene is already a Business Admin in the system this is to test the create and update triggers
WHERE
    admin_id = 6;
    
SELECT * FROM adminuser WHERE admin_id = '6';

 * mysql://jasi9001:***@applied-sql.cs.colorado.edu:3306/jasi9001
1 rows affected.
1 rows affected.

[(6, 'BusinessAdmin', "'01_admin'", datetime.datetime(2023, 4, 23, 9, 59, 43), datetime.datetime(2023, 4, 23, 10, 0, 7))]

In [ ]:
%%sql
# 
CREATE TABLE user_address (
    id INT PRIMARY KEY,
    user_id INT FOREIGN KEY REFERENCES user(id),  #  
    address_line1 VARCHAR(100),
    address_line2 VARCHAR(100),
    city VARCHAR(40),
    postal_code VARCHAR(15),
    country VARCHAR(56),
    telephone VARCHAR(15),
    mobile VARCHAR(15)
);

In [ ]:
%%sql
# 
# CREATE TABLE user_address (
#     id INT PRIMARY KEY,
#     user_id INT FOREIGN KEY (user_id) REFERENCES user(id),  # 
#     address_line1 VARCHAR(100),
#     address_line2 VARCHAR(100),
#     city VARCHAR(40),
#     postal_code VARCHAR(15),
#     country VARCHAR(56),
#     telephone VARCHAR(15),
#     mobile VARCHAR(15)
# );

In [ ]:
%%sql
# 
# CREATE TABLE user_payment (
#     id INT,
#     user_id INT,  # 
#     payment_type VARCHAR(40),  # best guess of what length should be.
#     provider VARCHAR(40),  # best guess of what length should be.
#     account_no VARCHAR(17),  # best guess of what length should be.
#     expiry DATE
# );